#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 315px;
    width: 86%;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
}

.photograph-photoContact{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.photographerInfos{
    margin-top: 29px;
}

.photographerName{
    font-size: 50px;
}

.photographerCity{
    color: rgba(144, 28, 28, 1);
    font-size: 24px;
    margin-top: -27px;
}

.photographerPhoto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    margin-top: 47px;
}

.photographerWorksSection{
    margin-top: 100px;
}

#sort{
    margin-right: 15px;
    margin-bottom: 67px;
    font-weight: 700;
    font-size: 22px;
}

#sortWorks{
    margin-bottom: 76px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    width: 200px;
    height: 35px;
    border: none;
    background-color: rgba(144, 28, 28, 1);
}

.photographerWorks{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 100px;
    width: 100%;
}

.photographers-works{
width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  overflow-clip-margin: unset;

}

.photoDetailsDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.likeDiv{
    display: flex;
    width: 12%;
    justify-content: space-evenly;
    gap: 5px;
    margin-right: 11px;
    margin-top: -8px;
}

.iconLike{
    width: 74%;
    height: 20px;
    padding-top: 28px;
}

.nberOfLike{
    color: rgba(144, 28, 28, 1);
    font-size: 24px;
}


.photoName{
    font-size: 20px;
    font-weight: 600;
    color: rgba(144, 28, 28, 1);
}

.nberTotalOfLikesDiv{
    display: flex;
    width: 26%;
    height: 50px;
    justify-content: 50px;
    background-color: rgba(216, 136, 118, 1);
    padding-right: 10px;
    position: fixed;
    right: 20px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
}
.nberTotalOfLikesDiv div{
    display: flex;
    
}

.nberTotalOfLikesDiv p{
    font-size: 20px;
    margin: auto;
    font-weight: 600;
    margin-right: 18px;
}

.counterOfTotalLikes{
    font-size: 20px;
    margin: auto;
    font-weight: 600;
}

.nberTotalOfLikesDiv img{
    width: 26%;
    height: 41px;
    margin-top: 5px;
}

.lightbox{
    display: none;
    position: fixed;
    margin: auto;
    inset: 0;
    width: 85%;
    height: 90%;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
}

.lightbox__img{
    width: 50%;
    height: 76%;
    object-fit: contain;
}

.lightbox__video{
    display: none;
    width: 717px;
    height: 454px;
}

.lightbox__next, .lightbox__prev{
    border: none;
    background: url(../assets/icons/chevron-right-solid.svg) center center / 100% 100%;
    width: 40px;
    height: 70px ;
    position: fixed;
    top: 50%;
    right: 11%;
    z-index: 11;
    text-indent: 3000px;
    cursor: pointer;
}

.lightbox__prev{
    right: auto;
    left: 11%;
    transform: rotate(180deg);
} 

 .lightbox__close{
    width: 50px;
    height: 50px;
    background: url(../assets/icons/cross.svg) center center / 100% 100% transparent;
    border: none;
    position: fixed;
    top: 11%;
    right: 12%;
    z-index: 1000;

} 

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 126px; */
}

#contactHeaderBtn{
    margin-top: 126px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 10px;
    position: absolute;
    inset: 0;
    z-index: 0;
   
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin-top: -9px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

