@import url("photographer.css");
*{
    text-decoration: none;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographer_section article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    overflow-clip-margin: unset;
    object-fit: cover;
    
}

h2{
    color: rgba(211, 87, 60, 1);
    font-size: 36px;
    font-weight: 400;
}
.photoNamePhotographer{
    line-height: 22px;
}
.photographerInfo{
    line-height: 13px;
    margin-top: -26px;
}
.photographerTown{
    color: rgba(144, 28, 28, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
}

.photographerSlogan{
    font-size: 12px;
    color: rgba(0,0,0,1);
    line-height: 0px;
}

.photographerPrice{
    color: rgba(117, 117, 117, 1);
    font-size: 11px;
    line-height: 16px;
}
